.m-newsletter {
  margin-bottom: $space-xl;
  text-align: center;

  &__title {
    @extend %font-l;
    margin-bottom: $space-m;
  }

  &__form {
    margin-bottom: $space-m;
  }

  .a-input {
    margin-bottom: $space-m;
  }

  &__logo {
    display: inline;
    height: 3 * $space-s;
    width: 3 * $space-s;
    filter: grayscale(1) brightness(.6) contrast(6);
  }

  @include media-query (tablet) {
    &__form {
      display: flex;
      margin: 0 auto $space-m auto;
    }

    .a-input {
      margin-right: $space-m;
      margin-bottom: 0;
    }
  }
}
