<script type="ld-conf">
{
  "name": "newsletter",
  "label": "Newsletter Form",
  "description": "Let people subscribe to your newsletter",
  "iconUrl": "https://livingdocsio.github.io/livingdocs-design-assets/docs/icons/component-icons/icon_component_button.svg"
}
</script>

<div class="m-newsletter">
  <h3 class="m-newsletter__title" doc-editable="title">State why your newsletter is great!</h3>
  <form class="m-newsletter__form">
    <input class="a-input" id="fieldName" type="text" placeholder="Your Name" />
    <input class="a-input" id="fieldEmail" type="email" placeholder="Your Email" required />
    <button class="a-button a-button--primary" type="submit">Subscribe</button>
  </form>
  <img class="m-newsletter__logo" src="/logos/my-start-up.svg" />
</div>
