<script type="ld-conf">
{
  "name": "newsletter",
  "label": "Newsletter Form",
  "description": "Let people subscribe to your newsletter",
  "iconUrl": "https://livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_button.svg"
}
</script>

<div class="m-newsletter">
  <h3 class="m-newsletter__title" doc-editable="title">State why your newsletter is great!</h3>
  <form class="m-newsletter__form js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255CA6691148C0EA7920B74F6EA632BFE83D8FA21B398F5261E3E0A31EBF821D86CB408CA280177E9E98039A758064E347A1">
    <input class="a-input" id="fieldName" name="cm-name" type="text" placeholder="Your Name" />
    <input class="a-input js-cm-email-input" id="fieldEmail" name="cm-shuutd-shuutd" type="email" placeholder="Your Email" required />
    <button class="a-button a-button--primary js-cm-submit-button" type="submit">Subscribe</button>
  </form>
  <img class="m-newsletter__logo" src="/logos/my-start-up.svg" />
</div>
