<script type="ld-conf">
  {
    "name": "footer",
    "label": "Page layout footer",
    "iconUrl": "//livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_layout_header.svg"
  }
</script>

<div class="o-footer">
  <div class="o-footer__content">
    <a class="o-footer__logo" href="/"><img src="/logos/my-start-up.svg" /></a>
    <ul class="o-footer__list" doc-container="footer-item"></ul>
    <ul class="o-footer__list">
      <li>
        Tellstrasse 31
      </li>
      <li>
        8004 Zürich
      </li>
      <li x-ms-format-detection="none">
        +41 43 505 1581
      </li>
      <li>
        <a href="mailto:contact@livingdocs.io">contact@livingdocs.io</a>
      </li>
    </ul>
    <ul class="o-footer__social">
      <li><a href="https://twitter.com/livingdocsIO" target="_blank"><img src="/icons/twitter.svg" /></a></li>
      <li><a href="https://github.com/livingdocsIO" target="_blank"><img src="/icons/github.svg" /></a></li>
      <li><a href="https://vimeo.com/user7006897" target="_blank"><img src="/icons/vimeo.svg" /></a></li>
    </ul>
  </div>
</div>
