<script type="ld-conf">
{
  "name": "listitem",
  "label": "List Item",
  "description": "Place these in your Lists",
  "allowedParents": ["list", "videoshowcase", "feature", "designstore", "versus", "pricingmodel"],
  "iconUrl": "https://livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_unordered_list_item.svg"
}
</script>

<li class="a-listitem">
  <h4 doc-editable="title" doc-optional>Give this List Entry a Title</h4>
  <p><span doc-editable="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</span></p>
</li>
