.m-mainhead--dark {
  .m-mainhead {
    &__title {
      position: relative;
      color: $color-white;
    }

    &__text {
      position: relative;
      color: $color-white;
    }
  }

  .a-button {
    position: relative;
    color: $color-black;
  }

  .a-wallpaper {
    @extend %viewport-width;
    position: absolute;
    display: block;

    &__image {
      background-image: url('../assets/backgrounds/darkpage.jpg');
    }
  }

  .a-button:hover {
    color: $color-white;
    border-color: $color-white;
  }

  .a-button--primary:hover {
    color: $color-black;
    background-color: $color-white;
    border-color: $color-white;
  }
}
