.m-mainhead {
  position: relative;
  padding-top: $space-l;
  padding-bottom: $space-l;
  margin-bottom: $space-xl;

  .a-pattern {
    @extend %viewport-width;
    position: absolute;
    top: auto;
    height: 200px - $space-l;
    bottom: 0;

    &::after {
      content: '';
      display: block;
      position: absolute;
      background-image: url('../assets/patterns/mainhead.svg');
      background-size: 150% auto;
      background-position: center bottom;
      background-repeat: no-repeat;
      width: 100%;
      height: 0;
      padding-top: 150%;
      bottom: 0;
    }
  }

  &__title {
    @extend %font-xxl;
    position: relative;
  }

  &__text {
    @extend %font-speciallead;
    position: relative;
    margin-top: $space-s / 2;
    margin-bottom: $space-m;
  }

  .a-button {
    position: relative;
    margin-bottom: $space-l;
  }

  &__showcase {
    @extend %box-shadow;
    position: relative;
    width: calc(100vw - 2 * #{$space-m});
    min-height: 285px;
    margin-left: calc((100% - (100vw - 2 * #{$space-m})) / 2);
  }

  &__fg {
    width: 100%;
  }

  @include media-query (tablet) {
    padding-bottom: $space-xl;

    .a-pattern {
      height: 480px - $space-xl;

      &::after {
        background-size: auto auto;
      }
    }

    &__text {
      margin-top: $space-s * 2 / 3;
    }

    &__showcase {
      width: 775px;
      min-height: 481px;
      margin-left: calc((100% - 775px) / 2);
    }
  }
}
