<script type="ld-conf">
{
  "name": "main-head",
  "label": "Main Head",
  "description": "Full width large Header",
  "iconUrl": "https://livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_header_full.svg"
}
</script>

<div class="m-mainhead">
  <div class="a-pattern"></div>
  <h1 class="m-mainhead__title" doc-editable="title">Your Homepage's Title</h1>
  <p class="m-mainhead__text" doc-editable="text" doc-optional>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt magna aliquyam erat, sed diam voluptua.</p>
  <a class="a-button a-button--primary" doc-link="link" doc-editable="buttontext" doc-optional>Button</a>
  <div class="m-mainhead__showcase">
    <div class="a-browserbar">
      <img class="a-browserbar__image" src="//livingdocs-assets.s3-eu-west-1.amazonaws.com/website-design/browser-bar.svg" />
    </div>
    <img class="m-mainhead__fg" doc-image="image" />
  </div>
</div>
