.o-view--dark {
  background-color: $color-black;
  color: $color-grey-ultralight;

  a {
    &:hover {
      border-color: $color-white;
    }
  }

  main {
    position: relative;
  }

  .a-wallpaper {
    position: fixed;

    &__image {
      background-image: url('../assets/patterns/darkpage.svg');
      background-size: auto auto;
      background-position: bottom right;
      opacity: .5;
    }
  }

  .o-header {
    background-color: $color-black;

    &__dot {
      filter: grayscale(1) brightness(.6) contrast(7) invert(1);
    }

    .a-breadcrumbitem {
      color: $color-grey-ultralight;

      &::before {
        filter: invert(1) grayscale(1) brightness(1.2);
      }

      &:hover {
        color: $color-white;
      }

      &.is-active {
        color: $color-white;
      }
    }

    .a-headeritem {
      color: $color-grey-light;

      &:hover {
        color: $color-white;
      }

      &.is-active {
        color: $color-white;
      }
    }

    .a-button {
      color: $color-grey-ultralight;
      border-color: $color-grey-ultralight;

      &:hover {
        color: $color-white;
        border-color: $color-white;
      }
    }

    .a-burger {
      &__bar {
        background-color: $color-grey-ultralight;
      }

      &:hover {
        .a-burger {
          &__bar {
            background-color: $color-white;
          }
        }
      }
    }
  }

  .m-pagehead {
    color: $color-blue-light;

    .a-pattern {
      background-color: $color-blue;
      filter: brightness(.2);
    }
  }

  .a-button {
    &:hover {
      color: $color-white;
      border-color: $color-white;
    }
  }

  .m-buttonblock--primary {
    .a-button {
      color: $color-black;

      &:hover {
        color: $color-black;
        background-color: $color-white;
        border-color: $color-white;
      }
    }
  }

  .a-separator {
    border-top-color: $color-grey-mid;
  }

  .o-footer {
    border-top-color: $color-grey-mid;

    &__logo {
      filter: grayscale(1) brightness(.6) contrast(7) invert(1);
    }

    &__social {
      filter: invert(1) grayscale(1) brightness(1.2);
    }
  }
}
