<script type="ld-conf">
{
  "name": "pricingtable",
  "label": "Pricing Table",
  "description": "Table of Pricing Models",
  "directives": {
    "list-entries1": {
      "allowedChildren": ["listitem"],
      "defaultContent": [
        {
          "component": "listitem"
        },
        {
          "component": "listitem"
        },
        {
          "component": "listitem"
        }
      ]
    },
    "button2": {
      "allowedChildren": ["buttonblock"],
      "defaultContent": [
        {
          "component": "buttonblock"
        }
      ]
    },
    "list-entries1": {
      "allowedChildren": ["listitem"],
      "defaultContent": [
        {
          "component": "listitem"
        },
        {
          "component": "listitem"
        },
        {
          "component": "listitem"
        }
      ]
    },
    "button2": {
      "allowedChildren": ["buttonblock"],
      "defaultContent": [
        {
          "component": "buttonblock"
        }
      ]
    },
    "list-entries3": {
      "allowedChildren": ["listitem"],
      "defaultContent": [
        {
          "component": "listitem"
        },
        {
          "component": "listitem"
        },
        {
          "component": "listitem"
        }
      ]
    },
    "button3": {
      "allowedChildren": ["buttonblock"],
      "defaultContent": [
        {
          "component": "buttonblock"
        }
      ]
    }
  },
  "iconUrl": "https://livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_table.svg"
}
</script>

<div class="m-pricingtable">

  <div class="m-pricingmodel">
    <h4 class="m-pricingmodel__title" doc-editable="title1">This Model's Title</h4>
    <div class="m-pricingmodel__price" doc-editable="price1">Its Price</div>
    <div class="m-pricingmodel__description" doc-optional doc-editable="description1">Concrete Description</div>
    <div class="m-pricingmodel__features">
      <ol class="m-list m-list--bullets" doc-container="list-entries1"></ol>
    </div>
    <div class="m-pricingmodel__button" doc-container="button1"></div>
  </div>

  <div class="m-pricingmodel">
    <h4 class="m-pricingmodel__title" doc-editable="title2">This Model's Title</h4>
    <div class="m-pricingmodel__price" doc-editable="price2">Its Price</div>
    <div class="m-pricingmodel__description" doc-optional doc-editable="description2">Concrete Description</div>
    <div class="m-pricingmodel__features">
      <ol class="m-list m-list--bullets" doc-container="list-entries2"></ol>
    </div>
    <div class="m-pricingmodel__button" doc-container="button2"></div>
  </div>

  <div class="m-pricingmodel">
    <h4 class="m-pricingmodel__title" doc-editable="title3">This Model's Title</h4>
    <div class="m-pricingmodel__price" doc-editable="price3">Its Price</div>
    <div class="m-pricingmodel__description" doc-optional doc-editable="description3">Concrete Description</div>
    <div class="m-pricingmodel__features">
      <ol class="m-list m-list--bullets" doc-container="list-entries3"></ol>
    </div>
    <div class="m-pricingmodel__button" doc-container="button3"></div>
  </div>

</div>
