<script type="ld-conf">
{
  "name": "nzz-infograph-1",
  "label": "NZZ infograph channels",
  "description": "Shows the transformation from desktop to mobile to print",
  "allowedParents": ["infographics"],
  "iconUrl": "//livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_infographics.svg"
}
</script>

<div class="nzz_infograph_1" data-simpleTrigger="true" data-customAnimation="true">

  <div class="nzz_infograph_1__states">

    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_1_1.png" />
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_1_2.png" />
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_1_3.png" />
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_1_4.png" />
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_1_5.png" />
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_1_6.png" />

  </div>

</div>
