<script type="ld-conf">
{
  "name": "article-head",
  "label": "Article Head",
  "description": "Article Header",
  "iconUrl": "https://livingdocsio.github.io/livingdocs-design-assets/docs/icons/component-icons/icon_component_header_and_image.svg"
}
</script>

<div class="m-articlehead">
  <div class="a-wallpaper">
    <div class="a-wallpaper__image" doc-image="image"></div>
  </div>
  <div class="a-pattern a-pattern--dots-white"></div>
  <div class="m-articlehead__content">
    <h2 class="m-articlehead__topline" doc-editable="topline" doc-optional>The Article's Topline</h2>
    <h1 class="m-articlehead__title" doc-editable="title">The Article's Title</h1>
    <p class="m-articlehead__lead" doc-editable="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>
