@font-face {
  font-family: Quicksand;
  src: url('../assets/fonts/Quicksand-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Open-Sans;
  src: url('../assets/fonts/OpenSans-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Open-Sans;
  src: url('../assets/fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1240px;

@mixin media-query($size) {
  @if $size == tablet {
    @media print, (min-width: $breakpoint-tablet) { @content; }
  }
  @if $size == desktop {
    @media (min-width: $breakpoint-desktop) { @content; }
  }
}

$color-black:             #000;
$color-grey-mid:          #555;
$color-grey-light:        #999;
$color-grey-ultralight:   #ddd;
$color-white:             #fff;
$color-blue:              #00cedb;
$color-blue-dark:         ($color-blue + $color-black) / 2;
$color-blue-light:        #e8fdff;
$color-green:             #73ce5f;
$color-green-light:       #e9fce5;
$color-shadow:            rgba($color-black, .1);

$space-s:   10px;
$space-m:   20px;
$space-l:   50px;
$space-xl:  100px;

$content-width-mobile: 280px;
$content-width-tablet-desktop: 510px;
$col-width-tablet-desktop: ($content-width-tablet-desktop - $space-m) / 2;
$extended-width-tablet-desktop: 770px;
$content-width-desktop-wide: 1040px;
$content-width-desktop-extrawide: 1200px;
$content-width-desktop-ultrawide: 1440px;

$rounded-corners: 4px;

$z-header: 2;
$z-popnavi: 3;
$z-mobilenavi: 4;
$z-headerburger: 4;
$z-cookieconsent: 5;

$transition-time: 250ms;

%font-base {
  font-family: Open-Sans;
  font-style: normal;
  font-weight: normal;
}

%font-xxl {
  @extend %font-base;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 26px;
  @include media-query (tablet) {
    font-size: 40px;
  }
  line-height: 110%;
}

%font-xl {
  @extend %font-base;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 24px;
  @include media-query (tablet) {
    font-size: 30px;
  }
  line-height: 120%;
}

%font-l {
  @extend %font-base;
  font-weight: 500;
  font-size: 18px;
  @include media-query (tablet) {
    font-size: 20px;
  }
  line-height: 150%;
}

%font-speciallead {
  @extend %font-base;
  font-weight: 500;
  font-size: 16px;
  @include media-query (tablet) {
    font-size: 20px;
  }
  line-height: 150%;
}

%font-m {
  @extend %font-base;
  font-weight: 500;
  font-size: 16px;
  @include media-query (tablet) {
    font-size: 18px;
  }
  line-height: 150%;
}

%font-s {
  @extend %font-base;
  font-size: 16px;
  line-height: 150%;
}

%font-xs {
  @extend %font-base;
  font-size: 12px;
  line-height: 150%;
}

%viewport-width {
  width: 100vw;
  position: relative;
  left: calc((100% - 100vw) / 2);
  right: calc((100% - 100vw) / 2);
}

%absolute-stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed $color-blue;

  &:hover {
    border-bottom-color: $color-black;
  }
}

%unlink {
  border-bottom: 0;
}

%box-shadow {
  box-shadow: 1px 1px 10px $color-shadow;
}
