.m-videoshowcase {
  margin-bottom: $space-xl;

  .m-list {
    margin-bottom: $space-m;
  }

  .m-video {
    margin-bottom: 0;
  }

  @include media-query (tablet) {
    &__video {
      width: calc(100vw - (2 * #{$space-l}));
      margin-left: calc((100% - (100vw - (2 * #{$space-l}))) / 2);
    }
  }

  @include media-query (desktop) {
    display: flex;
    width: $content-width-desktop-wide;
    margin-left: calc((100% - #{$content-width-desktop-wide}) / 2);

    &__text {
      width: $col-width-tablet-desktop;
      margin-right: $space-m;
    }

    &__video {
      width: $extended-width-tablet-desktop;
      margin-left: 0;
    }
  }
}
