$nzz_infograph_3_overlap: 5%;
$nzz_infograph_3_arrow_width: $space-s;

.nzz_infograph_3 {
  padding: $space-m 0 0 0;
  margin: -2% auto;
  overflow: hidden;
}

.nzz_infograph_3__box {
  position: relative;
  top: $space-s;

  width: 33%;
  float: left;

  opacity: 0;
  transition: none;

  &:nth-child(1) {
    left: $nzz_infograph_3_overlap;
  }

  &:nth-child(3) {
    right: $nzz_infograph_3_overlap;
  }

  h3 {
    @extend %font-m;
    margin-top: $space-m;
    text-align: center;
  }
}

.nzz_infograph_3__screen {
  @extend %box-shadow;
  border: 1px solid $color-grey-ultralight;
  transform: skewX(-5deg) rotateZ(-5deg);

  img {
    display: block;
  }
}

.nzz_infograph_3__arrow {
  position: absolute;
  bottom: 3%;
  left: calc(100% - #{$nzz_infograph_3_arrow_width} - ( #{$nzz_infograph_3_overlap} / 2) );
  width: $space-s;
  height: $space-s;
  opacity: 0;
  background-image: url('../assets/icons/breadcrumb-arrow.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.nzz_infograph_3.is-triggered {
  .nzz_infograph_3__box {
    top: 0;
    opacity: 1;
    transition: opacity $transition-time, top $transition-time;

    &:nth-child(1) {
      transition-delay: 0s;
    }

    &:nth-child(2) {
      transition-delay: $transition-time;
    }

    &:nth-child(3) {
      transition-delay: 2 * $transition-time;
    }
  }

  .nzz_infograph_3__arrow {
    opacity: 1;
    margin-left: 0;
    transition: opacity $transition-time, margin-left $transition-time;
    transition-delay: 3 * $transition-time;
  }
}
