<script type="ld-conf">
{
  "name": "nzz-infograph-3",
  "label": "NZZ infograph list management",
  "description": "Animated NZZ List to Page view",
  "allowedParents": ["infographics"],
  "iconUrl": "//livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_infographics.svg"
}
</script>

<div class="nzz_infograph_3" data-simpleTrigger="true" data-customAnimation="true">

  <div class="nzz_infograph_3__box">
    <div class="nzz_infograph_3__screen"><img doc-image="image_1" /></div>
    <h3 doc-editable="text_1">Lorem</h3>
    <div class="nzz_infograph_3__arrow"></div>
  </div>

  <div class="nzz_infograph_3__box">
    <div class="nzz_infograph_3__screen"><img doc-image="image_2" /></div>
    <h3 doc-editable="text_2">Ipsum</h3>
    <div class="nzz_infograph_3__arrow"></div>
  </div>

  <div class="nzz_infograph_3__box">
    <div class="nzz_infograph_3__screen"><img doc-image="image_3" /></div>
    <h3 doc-editable="text_3">Dolor</h3>
  </div>

</div>
