.a-headeritem {
  display: inline-block;
  color: $color-blue;
  transition: color $transition-time;
  cursor: pointer;

  &:hover {
    color: $color-black;
  }

  &.is-active {
    color: $color-black;
  }

  &__link {
    @extend %unlink;
    display: block;
    padding-right: $space-m;
  }
}
