<script type="ld-conf">
{
  "name": "team",
  "label": "Team",
  "description": "Introduce your Team",
  "directives": {
    "box1": { "allowedChildren": ["teammember"] },
    "box2": { "allowedChildren": ["teammember"] },
    "box3": { "allowedChildren": ["teammember"] },
    "box4": {
      "allowedChildren": ["teammember"],
      "defaultContent": [
        {
          "component": "teammember"
        }
      ]
    },
    "box5": { "allowedChildren": ["teammember"] },
    "box6": { "allowedChildren": ["teammember"] },
    "box7": {
      "allowedChildren": ["teammember"],
      "defaultContent": [
        {
          "component": "teammember"
        }
      ]
    },
    "box8": { "allowedChildren": ["teammember"] },
    "box9": { "allowedChildren": ["teammember"] },
    "box10": { "allowedChildren": ["teammember"] },
    "box11": { "allowedChildren": ["teammember"] },
    "box12": { "allowedChildren": ["teammember"] },
    "box13": { "allowedChildren": ["teammember"] },
    "box14": { "allowedChildren": ["teammember"] },
    "box15": { "allowedChildren": ["teammember"] },
    "box16": {
      "allowedChildren": ["teammember"],
      "defaultContent": [
        {
          "component": "teammember"
        }
      ]
    },
    "box17": { "allowedChildren": ["teammember"] },
    "box18": { "allowedChildren": ["teammember"] },
    "box19": { "allowedChildren": ["teammember"] },
    "box20": { "allowedChildren": ["teammember"] },
    "box21": { "allowedChildren": ["teammember"] },
    "box22": {
      "allowedChildren": ["teammember"],
      "defaultContent": [
        {
          "component": "teammember"
        }
      ]
    },
    "box23": { "allowedChildren": ["teammember"] },
    "box24": { "allowedChildren": ["teammember"] },
    "box25": { "allowedChildren": ["teammember"] }
  },
  "iconUrl": "//livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_image.svg"
}
</script>

<div class="m-team">
  <div class="a-pattern a-pattern--dots-green"></div>
  <div class="a-wallpaper">
    <div class="a-wallpaper__image" doc-image="image"></div>
  </div>
  <div class="m-team__grid">
    <div class="m-team__box" doc-container="box1"></div>
    <div class="m-team__box" doc-container="box2"></div>
    <div class="m-team__box" doc-container="box3"></div>
    <div class="m-team__box" doc-container="box4"></div>
    <div class="m-team__box" doc-container="box5"></div>
    <div class="m-team__box" doc-container="box6"></div>
    <div class="m-team__box" doc-container="box7"></div>
    <div class="m-team__box" doc-container="box8"></div>
    <div class="m-team__box" doc-container="box9"></div>
    <div class="m-team__box" doc-container="box10"></div>
    <div class="m-team__box" doc-container="box11"></div>
    <div class="m-team__box" doc-container="box12"></div>
    <div class="m-team__box" doc-container="box13"></div>
    <div class="m-team__box" doc-container="box14"></div>
    <div class="m-team__box" doc-container="box15"></div>
    <div class="m-team__box" doc-container="box16"></div>
    <div class="m-team__box" doc-container="box17"></div>
    <div class="m-team__box" doc-container="box18"></div>
    <div class="m-team__box" doc-container="box19"></div>
    <div class="m-team__box" doc-container="box20"></div>
    <div class="m-team__box" doc-container="box21"></div>
    <div class="m-team__box" doc-container="box22"></div>
    <div class="m-team__box" doc-container="box23"></div>
    <div class="m-team__box" doc-container="box24"></div>
    <div class="m-team__box" doc-container="box25"></div>
  </div>
</div>
