.m-subhead {
  position: relative;
  margin-bottom: $space-xl;

  &::before {
    @extend %viewport-width;
    content: '';
    display: block;
    border-top: 1px solid $color-orange;
  }

  &__title {
    @extend %font-xxl;
    margin-top: $space-xl;
    margin-bottom: $space-m;
  }

  &__text {
    @extend %font-speciallead;
    margin-bottom: $space-m;
  }

  @include media-query (tablet) {
    &__image {
      background-size: 1100px auto;
    }
  }

  @include media-query (desktop) {
    &::before {
      width: $content-width-desktop-wide;
      left: calc((100% - #{$content-width-desktop-wide}) / 2);
      right: calc((100% - #{$content-width-desktop-wide}) / 2);
    }

    &__image {
      background-size: auto auto;
      height: $space-xl + 35px;
      margin-bottom: -35px;
    }
  }
}
