<script type="ld-conf">
  {
    "name": "header",
    "label": "Page layout header",
    "iconUrl": "https://livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_layout_header.svg"
  }
</script>

<div class="o-header">
  <a class="o-header__logo" href="/"><img class="o-header__dot" src="/logos/my-start-up.svg" /></a>
  <ul class="o-header__breadcrumb" doc-container="breadcrumb-item"></ul>
  <ul class="o-header__shortcuts" doc-container="header-item"></ul>
  <div class="o-header__more">
    <div class="a-headeritem">
      <a class="a-headeritem__link">More…</a>
    </div>
  </div>
  <div class="o-header__button">
    <a class="a-button" href="#">Try out MyStartUp</a>
  </div>
  <div class="o-header__burger">
    <a class="a-burger">
      <span class="a-burger__bar"></span>
      <span class="a-burger__bar"></span>
      <span class="a-burger__bar"></span>
      <span class="a-burger__bar"></span>
    </a>
  </div>
  <div class="o-header__popnavi">
    <div class="m-popnavi">
      <ul doc-container="popnavi-item"></ul>
    </div>
  </div>
</div>
