<script type="ld-conf">
{
  "name": "textimage",
  "label": "Text Image",
  "properties": ["textimage-color", "textimage-cols"],
  "description": "Textbox with Background-Image",
  "iconUrl": "https://livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_text_and_image.svg"
}
</script>

<div class="m-textimage">
  <div class="a-wallpaper">
    <div class="a-wallpaper__image" doc-image="image"></div>
  </div>
  <div class="m-textimage__text">
    <div class="m-textimage__col1" data-simpleTrigger="true" data-triggerOrder="1" doc-editable="col1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</div>
    <div class="m-textimage__col2" data-simpleTrigger="true" data-triggerOrder="2" doc-editable="col2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt magna aliquyam erat, sed diam voluptua.</div>
  </div>
</div>
