.a-popnaviitem {
	color: $color-blue;

	&.is-active {
		color: $color-white;
	}

	&__secondlevel {
		margin-left: $space-m;
  }

	&__link {
		@extend %unlink;
	}

	@include media-query (tablet) {
		&__secondlevel {
			margin-left: 0;
	    display: inline;
	  }
	}
}
