%a-button--primary,
.a-button--primary {
  background: $color-blue;
  color: $color-white;

  &:hover {
    color: $color-white;
    border-color: $color-black;
    background-color: $color-black;
  }
}
