<script type="ld-conf">
{
  "name": "list",
  "label": "List",
  "description": "Numbered or plain List of Text",
  "directives": {
    "list-entries": {
      "allowedChildren": ["listitem"],
      "defaultContent": [
        {
          "component": "listitem"
        },
        {
          "component": "listitem"
        },
        {
          "component": "listitem"
        }
      ]
    }
  },
  "properties": ["list-type"],
  "iconUrl": "https://livingdocsio.github.io/livingdocs-design-assets/docs/icons/component-icons/icon_component_unordered_list.svg"
}
</script>

<ol class="m-list" doc-container="list-entries"></ol>
