$nzz_infograph_2_width_svg_desktop: 1201;
$nzz_infograph_2_height_svg_desktop: 727;
$nzz_infograph_2_width_svg_mobile: 551;
$nzz_infograph_2_height_svg_mobile: 850;

.nzz_infograph_2 {
  position: relative;
  margin: -4% auto;
}

.nzz_infograph_2__states {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(100% * #{$nzz_infograph_2_height_svg_desktop} / #{$nzz_infograph_2_width_svg_desktop});
  overflow: hidden;

  &--mobile {
    display: none;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.nzz_infograph_2__dot {
  position: absolute;
  width: calc(100% / 12);

  opacity: 0;
  transform: translateY($space-s);

  img {
    display: block;
    cursor: pointer;
    transform-origin: center center;
  }

  &:hover,
  &:focus {
    img {
      transform: scale(1.05);
    }

    .nzz_infograph_2__info {
      display: block;
    }
  }
}

.nzz_infograph_2__dot--small {
  width: calc(3 / 4 * 100% / 12);
}

.nzz_infograph_2__dot:nth-child(3) {
  top: calc(1 * 100% / 7.25);
  left: calc(1 * 100% / 12);
}

.nzz_infograph_2__dot:nth-child(4) {
  top: calc(1.125 * 100% / 7.25);
  left: calc(4.125 * 100% / 12);
}

.nzz_infograph_2__dot:nth-child(5) {
  top: calc(1.125 * 100% / 7.25);
  left: calc(7.125 * 100% / 12);
}

.nzz_infograph_2__dot:nth-child(6) {
  top: calc(3.125 * 100% / 7.25);
  left: calc(1.125 * 100% / 12);
}

.nzz_infograph_2__dot:nth-child(7) {
  top: calc(3.125 * 100% / 7.25);
  left: calc(4.125 * 100% / 12);
}

.nzz_infograph_2__dot:nth-child(8) {
  top: calc(3.125 * 100% / 7.25);
  left: calc(7.125 * 100% / 12);
}

.nzz_infograph_2__dot:nth-child(9) {
  top: calc(5.125 * 100% / 7.25);
  left: calc(1.125 * 100% / 12);
}

.nzz_infograph_2__dot:nth-child(10) {
  top: calc(5 * 100% / 7.25);
  left: calc(10 * 100% / 12);
}

.nzz_infograph_2__dot:nth-child(11) {
  top: calc(5.125 * 100% / 7.25);
  left: calc(4.125 * 100% / 12);
}

.nzz_infograph_2__dot:nth-child(12) {
  top: calc(6.125 * 100% / 7.25);
  left: calc(4.125 * 100% / 12);
}

.nzz_infograph_2__dot:nth-child(13) {
  top: calc(5 * 100% / 7.25);
  left: calc(7 * 100% / 12);
}

.nzz_infograph_2__info {
  @extend %box-shadow;
  display: none;
  position: absolute;
  bottom: calc(100% + ( #{$space-s} * 2 / 3));
  left: calc(50% - ( 2.5 * #{$space-s} ));
  padding: $space-s / 2;
  width: 200px;

  @extend %font-xs;
  hyphens: auto;

  background-color: $color-white;

  &::after {
    content: "";
    display: block;
    position: absolute;

    bottom: -2 * $space-s / 2;
    left: 2 * $space-s;

    width: 0;
    height: 0;
    border: $space-s / 2 solid transparent;
    border-top-color: $color-white;
  }
}

.nzz_infograph_2__info--left {
  left: auto;
  right: calc(50% - ( 2.5 * #{$space-s} ));

  &::after {
    left: auto;
    right: 2 * $space-s;
  }
}

.nzz_infograph_2.is-triggered {
  .nzz_infograph_2__states {
    img {
      transition: opacity $transition-time;
      opacity: 1;

      &:nth-child(1) { transition-delay: 2 * $transition-time; }
      &:nth-child(2) { transition-delay: 3 * $transition-time; }
      &:nth-child(3) { transition-delay: 4 * $transition-time; }
    }
  }

  .nzz_infograph_2__dot {
    transition: opacity $transition-time, transform $transition-time;
    opacity: 1;
    transform: translateY(0);

    &:nth-child(4) { transition-delay: 1 * $transition-time / 3; }
    &:nth-child(5) { transition-delay: 2 * $transition-time / 3; }
    &:nth-child(6) { transition-delay: 3 * $transition-time / 3; }
    &:nth-child(7) { transition-delay: 4 * $transition-time / 3; }
    &:nth-child(8) { transition-delay: 5 * $transition-time / 3; }
    &:nth-child(9) { transition-delay: 6 * $transition-time / 3; }
    &:nth-child(10) { transition-delay: 7 * $transition-time / 3; }
    &:nth-child(11) { transition-delay: 8 * $transition-time / 3; }
    &:nth-child(12) { transition-delay: 9 * $transition-time / 3; }
    &:nth-child(13) { transition-delay: 10 * $transition-time / 3; }
  }
}

/* overrides palm */
@media (max-width: $breakpoint-tablet - 1px) {
  .nzz_infograph_2 {
    margin-top: -9%;
    margin-bottom: -9%;
  }

  .nzz_infograph_2__states {
    padding-bottom: calc(100% * #{$nzz_infograph_2_height_svg_mobile} / #{$nzz_infograph_2_width_svg_mobile});

    &--mobile {
      display: block;
    }

    &--tablet-desktop {
      display: none;
    }
  }

  .nzz_infograph_2__dot {
    width: calc(100% / 5.5);
  }

  .nzz_infograph_2__dot--small {
    width: calc(100% / 5.5 / 2);
  }

  .nzz_infograph_2__dot:nth-child(3) {
    top: calc(1 * 100% / 8.5);
    left: calc(1 * 100% / 5.5);
  }

  .nzz_infograph_2__dot:nth-child(4) {
    top: calc(1.25 * 100% / 8.5);
    left: calc(2.25 * 100% / 5.5);
  }

  .nzz_infograph_2__dot:nth-child(5) {
    top: calc(1.25 * 100% / 8.5);
    left: calc(3.25 * 100% / 5.5);
  }

  .nzz_infograph_2__dot:nth-child(6) {
    top: calc(3.25 * 100% / 8.5);
    left: calc(1.25 * 100% / 5.5);
  }

  .nzz_infograph_2__dot:nth-child(7) {
    top: calc(3.25 * 100% / 8.5);
    left: calc(2.25 * 100% / 5.5);
  }

  .nzz_infograph_2__dot:nth-child(8) {
    top: calc(3.25 * 100% / 8.5);
    left: calc(3.25 * 100% / 5.5);
  }

  .nzz_infograph_2__dot:nth-child(9) {
    top: calc(5.25 * 100% / 8.5);
    left: calc(1.25 * 100% / 5.5);
  }

  .nzz_infograph_2__dot:nth-child(10) {
    top: calc(5 * 100% / 8.5);
    left: calc(3 * 100% / 5.5);
  }

  .nzz_infograph_2__dot:nth-child(11) {
    top: calc(6.25 * 100% / 8.5);
    left: calc(1.25 * 100% / 5.5);
  }

  .nzz_infograph_2__dot:nth-child(12) {
    top: calc(6.25 * 100% / 8.5);
    left: calc(2.25 * 100% / 5.5);
  }

  .nzz_infograph_2__dot:nth-child(13) {
    top: calc(7 * 100% / 8.5);
    left: calc(1 * 100% / 5.5);
  }

  .nzz_infograph_2__info {
    width: calc(100vw / 2.2);
    left: calc( 50% - (100vw / 2.2 / 2) );

    &::after {
      left: calc( 50% - ( #{$space-s} / 2) );
    }
  }
}
