<script type="ld-conf">
{
  "name": "nzz-infograph-2",
  "label": "NZZ infograph system landscape",
  "description": "Show the technical architecture at NZZ",
  "allowedParents": ["infographics"],
  "iconUrl": "https://livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_infographics.svg"
}
</script>

<div class="nzz_infograph_2" data-simpleTrigger="true" data-customAnimation="true">

  <div class="nzz_infograph_2__states nzz_infograph_2__states--tablet-desktop">
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_desktop_arrows.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_desktop_groups.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_desktop_labels.svg" />
  </div>

  <div class="nzz_infograph_2__states nzz_infograph_2__states--mobile">
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_mobile_arrows.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_mobile_groups.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_mobile_labels.svg" />
  </div>

  <div class="nzz_infograph_2__dot">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_dot_editors.svg" />
    <div class="nzz_infograph_2__info">Write articles for all products including print.</div>
  </div>

  <div class="nzz_infograph_2__dot nzz_infograph_2__dot--small">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_dot_desknet.svg" />
    <div class="nzz_infograph_2__info">Topic and production planning.</div>
  </div>

  <div class="nzz_infograph_2__dot nzz_infograph_2__dot--small">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_dot_chartbeat.svg" />
    <div class="nzz_infograph_2__info">Chartbeat for analytics.</div>
  </div>

  <div class="nzz_infograph_2__dot nzz_infograph_2__dot--small">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_dot_livingdocs.svg" />
    <div class="nzz_infograph_2__info">Create and write articles for all channels. Create and curate the overview pages for all online products.</div>
  </div>

  <div class="nzz_infograph_2__dot nzz_infograph_2__dot--small">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_dot_livingdocs.svg" />
    <div class="nzz_infograph_2__info">CMS component that handles everything from user management to document versioning.</div>
  </div>

  <div class="nzz_infograph_2__dot nzz_infograph_2__dot--small">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_dot_livingdocs.svg" />
    <div class="nzz_infograph_2__info">CMS component optimized for fast rendering and delivery of content.</div>
  </div>

  <div class="nzz_infograph_2__dot nzz_infograph_2__dot--small">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_dot_hugo.svg" />
    <div class="nzz_infograph_2__info">huGO+ for data transformation and archiving.</div>
  </div>

  <div class="nzz_infograph_2__dot">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_dot_nzz.svg" />
    <div class="nzz_infograph_2__info nzz_infograph_2__info--left">Deliver content for all NZZ online products on all channels.</div>
  </div>

  <div class="nzz_infograph_2__dot nzz_infograph_2__dot--small">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_dot_woodwing.svg" />
    <div class="nzz_infograph_2__info">Content Station for print edition layout and assembly.</div>
  </div>

  <div class="nzz_infograph_2__dot nzz_infograph_2__dot--small">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_dot_postproducer.svg" />
    <div class="nzz_infograph_2__info">Adds revisions to the content.</div>
  </div>

  <div class="nzz_infograph_2__dot">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_nzz/story_nzz_dot_nzz.svg" />
    <div class="nzz_infograph_2__info nzz_infograph_2__info--top">Ready for the priting press.</div>
  </div>

</div>
