<script type="ld-conf">
{
  "name": "testimonial",
  "label": "Testimonial",
  "description": "An example of your testimonial",
  "iconUrl": "https://livingdocsio.github.io/livingdocs-design-assets/docs/icons/component-icons/icon_component_quote.svg"
}
</script>

<div class="m-testimonial">
  <div class="m-testimonial__col1">
    <img class="m-testimonial__icon" doc-image="icon" />
    <h3 class="m-testimonial__title" doc-editable="title">Testimonial Title</h3>
    <p class="m-testimonial__text" doc-editable="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <a class="a-button" doc-link="link" doc-editable="button" doc-optional>Button</a>
  </div>
  <div class="m-testimonial__col2">
    <p class="m-testimonial__quote"><span doc-editable="quote">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</span></p>
    <svg class="a-bubble">
      <path d="m 0 1 l 23 0 l 9 9 l 9 -9 l 10000 0" />
    </svg>
    <p class="m-testimonial__caption" doc-editable="caption">Who said this about your product?</p>
    <img class="m-testimonial__logo" doc-image="logo" />
  </div>
</div>
