<script type="ld-conf">
  {
    "name": "brandimage",
    "label": "Brand Image",
    "properties": ["brandimage-version"],
    "description": "Communicate your brand values with an image",
    "iconUrl": "//livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_image.svg"
  }
</script>

<div class="m-brandimage">
  <div class="a-pattern"></div>
  <div class="m-brandimage__image" doc-image="image"></div>
  <h3 class="m-brandimage__text" doc-editable="text">Write here how awesome your brand is.</h3>
</div>
