.m-eventinfo {
  margin-bottom: $space-m;
  overflow: hidden;

  .a-framedlogo {
    margin-bottom: $space-s;
    margin-right: $space-s;
    float: left;
  }

  &__date {
    margin-top: 15px;
  }

  &__date,
  &__place {
    text-transform: uppercase;
    font-weight: 500;
    color: $color-green;
  }

  @include media-query (desktop) {
    overflow: visible;
    width: $col-width-tablet-desktop;
    position: absolute;
    top: 0;
    left: -$col-width-tablet-desktop - $space-m;
    margin-bottom: 0;
    text-align: right;

    &__date {
      margin-top: 0;
    }

    .a-framedlogo {
      float: none;
      margin-right: 0;
    }
  }
}
