<script type="ld-conf">
{
  "name": "calltoaction",
  "label": "Call to Action",
  "description": "Let People interact with you",
  "properties": ["calltoaction-type"],
  "iconUrl": "https://livingdocsio.github.io/livingdocs-design-assets/docs/icons/component-icons/icon_component_button.svg"
}
</script>

<div class="m-calltoaction">
  <h3 class="m-calltoaction__title" doc-editable="title">Lorem ipsum dolor sit amet, consetetur sadipscing.</h3>
  <a class="a-button" doc-link="link" doc-editable="buttontext">Button</a>
</div>
