.a-input {
  @extend %font-s;
  height: 30px;
  width: 100%;
  padding: 0 $space-s;
  line-height: 30px;
  border: 1px solid $color-grey-ultralight;
  border-radius: $rounded-corners;
  background-color: $color-white;
  transition: box-shadow $transition-time ease, transform $transition-time ease;
}
