<script type="ld-conf">
{
  "name": "sz-infograph-1",
  "label": "SZ infograph system landscape",
  "description": "Shows the technical architecture at SZ",
  "allowedParents": ["infographics"],
  "iconUrl": "https://livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_infographics.svg"
}
</script>

<div class="sz_infograph_1" data-simpleTrigger="true" data-customAnimation="true">

  <div class="sz_infograph_1__states sz_infograph_1__states--tablet-desktop">
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_desktop_arrows.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_desktop_groups.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_desktop_labels.svg" />
  </div>

  <div class="sz_infograph_1__states sz_infograph_1__states--mobile">
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_mobile_arrows.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_mobile_groups.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_mobile_labels.svg" />
  </div>

  <div class="sz_infograph_1__dot">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_dot_editors.svg" />
  </div>

  <div class="sz_infograph_1__dot">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_dot_editors.svg" />
  </div>

  <div class="sz_infograph_1__dot sz_infograph_1__dot--small">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_dot_print.svg" />
    <div class="sz_infograph_1__info">SZ uses Hermes as a system for the weekly printed magazine.</div>
  </div>

  <div class="sz_infograph_1__dot sz_infograph_1__dot--small">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_dot_livingdocs.svg" />
    <div class="sz_infograph_1__info">Create and write articles. Create and curate the overview pages for the magazine.</div>
  </div>

  <div class="sz_infograph_1__dot sz_infograph_1__dot--small">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_dot_livingdocs.svg" />
    <div class="sz_infograph_1__info">CMS component that handles everything from user management to document versioning.</div>
  </div>

  <div class="sz_infograph_1__dot">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_dot_sz.svg" />
    <div class="sz_infograph_1__info">Weekly printed magazine.</div>
  </div>

  <div class="sz_infograph_1__dot">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_dot_sz.svg" />
    <div class="sz_infograph_1__info">Unified delivery based on elastic search that stores pre-rendered documents from Livingdocs and renders the online magazine.</div>
  </div>

  <div class="sz_infograph_1__dot sz_infograph_1__dot--small">
    <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_sz/story_sz_dot_statistics.svg" />
    <div class="sz_infograph_1__info sz_infograph_1__info--left">ContentInsights, Linkpulse and Goolge Analytics</div>
  </div>

</div>
