<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{{ title }}</title>
    <meta name="Description" content="{{ description }}" />
    {{#unless isDev}}
      <link href="/styles.css" media="all" rel="stylesheet" type="text/css" />
    {{/unless}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47320912-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-47320912-2');
    </script>
  </head>
  <body lang="en">
    <div class="wrapper page">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
    <script src="/vendors.js"></script>
    <script src="/commons.js"></script>
    <script src="/scripts.js"></script>
    {{#if isDev}}
      <script src="/helpers.js"></script>
    {{/if}}
  </body>
</html>
