<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>MyStartUp - Welcome to our newe Start-Up</title>
    <meta property="og:title" content="MyStartUp - Welcome to our newe Start-Up" />
    <meta name="Description" content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." />
    <meta property="og:description" content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://livingdocs-assets.s3-eu-west-1.amazonaws.com/website-design/favicon.png" />
    <meta property="og:image:secure_url" content="https://livingdocs-assets.s3-eu-west-1.amazonaws.com/website-design/favicon.png" />
    <meta property="og:image:alt" content="MyStartUp" />
    <meta property="og:site_name" content="www.MyStartUp.io" />
    <meta property="og:url" content="http://www.MyStartUp.io" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="https://livingdocs-assets.s3-eu-west-1.amazonaws.com/website-design/favicon.png" />
    <meta name="twitter:image:alt" content="MyStartUp" />
    <meta name="twitter:site" content="@MyStartUp" />
    <meta name="twitter:description" content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." />
    {{#unless isDev}}
      <link href="/styles.css" media="all" rel="stylesheet" type="text/css" />
    {{/unless}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
      window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "content": {
            "message": "This website uses cookies to ensure you get the best browsing experience. "
          }
        })
      });
    </script>
  </head>
  <body lang="en">
    <script src="/vendors.js"></script>
    <script src="/commons.js"></script>
    <script src="/scripts.js"></script>

    {{#if isDev}}
      <script src="/helpers.js"></script>
    {{/if}}

    {{{ content }}}

  </body>
</html>
