<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Livingdocs - Easy Publishing for the web</title>
    <meta property="og:title" content="Livingdocs - Easy Publishing for the web" />
    <meta name="Description" content="Livingdocs is a modern Web Content Creation and Publishing System. Get inspired by our innovative and unique building blocks technology." />
    <meta property="og:description" content="Livingdocs is a modern Web Content Creation and Publishing System. Get inspired by our innovative and unique building blocks technology." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://livingdocs-assets.s3.amazonaws.com/ld_logo_final@2x.png" />
    <meta property="og:image:secure_url" content="https://livingdocs-assets.s3.amazonaws.com/ld_logo_final@2x.png" />
    <meta property="og:image:alt" content="Livingdocs" />
    <meta property="og:site_name" content="www.Livingdocs.io" />
    <meta property="og:url" content="http://www.livingdocs.io" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="http://livingdocs-assets.s3.amazonaws.com/assets/images/ld_signet_128x128.png" />
    <meta name="twitter:image:alt" content="Livingdocs" />
    <meta name="twitter:site" content="@livingdocsIO" />
    <meta name="twitter:description" content="We combine powerful content creation with a fricitonless editing experience. Start publishing like the big media companies now!" />
    {{#unless isDev}}
      <link href="/styles.css" media="all" rel="stylesheet" type="text/css" />
    {{/unless}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47320912-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-47320912-2', {'anonymize_ip': true});
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
      window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "content": {
            "message": "This website uses cookies to ensure you get the best browsing experience. "
          }
        })
      });
    </script>
  </head>
  <body lang="en">
    <script src="/vendors.js"></script>
    <script src="/commons.js"></script>
    <script src="/scripts.js"></script>

    {{#if isDev}}
      <script src="/helpers.js"></script>
    {{/if}}

    {{{ content }}}

    <!--Start of Campaign Monitor Script-->
    <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
    <!--End of Campaign Monitor Script-->
    <!--Start of Intercom Script-->
    <script>
      window.intercomSettings = {
        app_id: "jaacafzp"
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/jaacafzp';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <!--End of Intercom Script-->
  </body>
</html>
