.m-pagehead {
  @extend %viewport-width;
  position: relative;
  padding-top: $space-l;
  padding-bottom: $space-l;
  margin-bottom: $space-xl;
  color: $color-orange;

  .a-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/patterns/pagehead.svg');
    background-size: 1440px auto;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__content {
    box-sizing: content-box;
    position: relative;
    width: $content-width-mobile;
    margin: 0 auto;
  }

  &__title {
    @extend %font-xxl;
  }

  &__lead {
    position: relative;
    margin-top: $space-s / 2;
  }

  &__text {
    @extend %font-speciallead;
  }

  @include media-query (tablet) {
    &__content {
      width: $content-width-tablet-desktop;
    }

    &__lead {
      margin-top: $space-s * 2 / 3;
    }
  }
}

@import 'pagehead-no-spacing';
