<script type="ld-conf">
{
  "name": "page-head",
  "label": "Page Head",
  "properties": ["pagehead-spacing"],
  "description": "Page Header",
  "iconUrl": "//livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_header_full.svg"
}
</script>

<div class="m-pagehead">
  <div class="a-pattern"></div>
  <div class="m-pagehead__content">
    <h1 class="m-pagehead__title">
      <span doc-editable="title">The Page's Title</span>
    </h1>
    <div class="m-pagehead__lead">
      <p class="m-pagehead__text" doc-editable="text" doc-optional>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt magna aliquyam erat, sed diam voluptua.</p>
      <img class="m-pagehead__eagle" src="//livingdocs-designs-dev.s3-eu-west-1.amazonaws.com/livingdocssite/1.0.3/icons/eagle.svg" />
    </div>
  </div>
</div>
