<script type="ld-conf">
{
  "name": "video",
  "label": "Video",
  "description": "An embedded Video",
  "properties": ["video-size", "video-type"],
  "iconUrl": "https://livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_video.svg"
}
</script>

<div class="m-video">
  <div class="a-browserbar">
    <img class="a-browserbar__image" src="//livingdocs-assets.s3-eu-west-1.amazonaws.com/website-design/browser-bar.svg" />
  </div>
  <div class="a-iframe" doc-html="iframe"></div>
</div>
