<script type="ld-conf">
{
  "name": "quote",
  "label": "Quote",
  "description": "What do people say?",
  "iconUrl": "https://livingdocsio.github.io/livingdocs-design-assets/docs/icons/component-icons/icon_component_quote.svg"
}
</script>

<div class="m-quote">
  <p class="m-quote__quote" data-simpleTrigger="true" data-triggerOrder="1"><span doc-editable="quote">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt magna aliquyam erat, sed diam voluptua.</span></p>
  <svg class="a-bubble">
    <path d="m 0 1 l 23 0 l 9 9 l 9 -9 l 10000 0" />
  </svg>
  <p class="m-quote__caption" data-simpleTrigger="true" data-triggerOrder="2" doc-editable="caption">Who said that?</p>
</div>
