$swisscom_infograph_2_speed_hands: 1s;
$swisscom_infograph_2_speed_components: 2s;

.swisscom_infograph_2 {
  max-width: 1160px;
  margin: -4% auto;
}

.swisscom_infograph_2__bg {
  width: 100%;
  height: auto;
  max-height: none;
}

.swisscom_infograph_2__states {
  position: relative;
  height: 0;
  padding-bottom: 36.69%;
  margin-top: -3%;
  margin-bottom: -1%;
  opacity: 0;

  .swisscom_infograph_2__webpage,
  .swisscom_infograph_2__app,
  .swisscom_infograph_2__clock {
    position:absolute;
    height: 0;
    overflow: hidden;
  }

  /* webpage */
  .swisscom_infograph_2__webpage {
    width: 35.7%;
    padding-bottom: 18.8%;

    top: 28.5%;
    left: 7.5%;

    img {
      position: absolute;

      animation-timing-function: ease;
      animation-iteration-count: infinite;
      animation-duration: $swisscom_infograph_2_speed_components;
    }

    .pos0 {
      left: 7%;
      width: 43%;
      height: 70%;
      animation-name: swisscom_infograph_2__aniwebpage_pos0;
    }

    @keyframes swisscom_infograph_2__aniwebpage_pos0 {
      0% {top: -73%;}
      50% {top: -73%;}
      100% {top: 0;}
    }

    .pos1 {
      top: 0;
      width: 43%;
      height: 70%;
      animation-name: swisscom_infograph_2__aniwebpage_pos1;
    }

    @keyframes swisscom_infograph_2__aniwebpage_pos1 {
      0% {left: 7%;}
      50% {left: 50%;}
      100% {left: 50%;}
    }

    .pos2 {
      animation-name: swisscom_infograph_2__aniwebpage_pos2;
    }

    @keyframes swisscom_infograph_2__aniwebpage_pos2 {
      0% {top: 0; left: 50%; width: 43%; height: 70%; z-index:1;}
      50% {top: 73%; left: 6%; width: 28%; height: 41%; z-index:1;}
      100% {top: 73%; left: 6%; width: 28%; height: 41%; z-index:1;}
    }

    .pos3 {
      top: 73%;
      width: 28%;
      height: 41%;
      animation-name: swisscom_infograph_2__aniwebpage_pos3;
    }

    @keyframes swisscom_infograph_2__aniwebpage_pos3 {
      0% {left: 6%;}
      50% {left: 36%;}
      100% {left: 36%;}
    }

    .pos4 {
      top: 73%;
      width: 28%;
      height: 41%;
      animation-name: swisscom_infograph_2__aniwebpage_pos4;
    }

    @keyframes swisscom_infograph_2__aniwebpage_pos4 {
      0% {left: 36%;}
      50% {left: 66%;}
      100% {left: 66%;}
    }

    .pos5 {
      left: 66%;
      width: 28%;
      height: 41%;
      animation-name: swisscom_infograph_2__aniwebpage_pos5;
    }

    @keyframes swisscom_infograph_2__aniwebpage_pos5 {
      0% {top: 73%;}
      50% {top: 110%;}
      100% {top: 110%;}
    }
  }

  /* app */
  .swisscom_infograph_2__app {
    width: 7.5%;
    padding-bottom: 13.7%;

    top: 33.7%;
    left: 58.5%;

    border-radius: 0 0 6% 6%;

    img {
      float: left;
      margin-bottom: 5%;
      max-height: none;

      animation-name: swisscom_infograph_2__aniapp;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      animation-duration: $swisscom_infograph_2_speed_components;
    }

    img:first-child {
      animation-name: swisscom_infograph_2__aniapp, swisscom_infograph_2__anipop;
      animation-duration: $swisscom_infograph_2_speed_components, $swisscom_infograph_2_speed_components;
    }

    @keyframes swisscom_infograph_2__aniapp {
      0% {transform: translateY(-120%);}
      50% {transform: translateY(0);}
    }

    @keyframes swisscom_infograph_2__anipop {
      0% {transform: translateX(-100%);}
      50% {transform: translateX(-100%);}
      100% {transform: translateX(0);}
    }
  }

  /* clock */
  .swisscom_infograph_2__clock {
    width: 17%;
    padding-bottom: 17%;

    top: 27%;
    right: 5.3%;
  }

  .swisscom_infograph_2__sec,
  .swisscom_infograph_2__min,
  .swisscom_infograph_2__hour {
    position: absolute;

    animation-name: swisscom_infograph_2__anihands;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .swisscom_infograph_2__sec {
    animation-duration: $swisscom_infograph_2_speed_hands;
  }

  .swisscom_infograph_2__min {
    animation-duration: $swisscom_infograph_2_speed_hands * 60;
  }

  .swisscom_infograph_2__hour {
    animation-duration: $swisscom_infograph_2_speed_hands * 60 * 60;
  }

  @keyframes swisscom_infograph_2__anihands {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
  }
}

.swisscom_infograph_2.is-triggered {
  .swisscom_infograph_2__states {
    transition: opacity $transition-time;
    opacity: 1;
  }
}
