<script type="ld-conf">
{
  "name": "swisscom-infograph-2",
  "label": "Swisscom infograph timed publication",
  "description": "Animated Swisscom Timed Publishing graphic",
  "allowedParents": ["infographics"],
  "iconUrl": "https://livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_infographics.svg"
}
</script>

<div class="swisscom_infograph_2" data-simpleTrigger="true" data-customAnimation="true">

  <div class="swisscom_infograph_2__states">

    <img class="swisscom_infograph_2__bg" src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_1.png" />

    <div class="swisscom_infograph_2__webpage">
      <img class="pos0" src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_2.svg" />
      <img class="pos1" src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_2.svg" />
      <img class="pos2" src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_2.svg" />
      <img class="pos3" src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_2.svg" />
      <img class="pos4" src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_2.svg" />
      <img class="pos5" src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_2.svg" />
    </div>

    <div class="swisscom_infograph_2__app">
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_3.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_3.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_3.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_3.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_3.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_3.svg" />
      <img src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_3.svg" />
    </div>

    <div class="swisscom_infograph_2__clock">
      <img class="swisscom_infograph_2__sec" src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_4.svg" />
      <img class="swisscom_infograph_2__min" src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_5.svg" />
      <img class="swisscom_infograph_2__hour" src="https://cdn-jbxbgjz.livingdocs.io/designs/livingdocssite/2.0.0/images/success_story_swisscom/story_swisscom_infograph2_6.svg" />
    </div>

  </div>

</div>
