.a-decoration {
  position: relative;

  &__image {
    width: 100%;
  }
}

@import 'decoration-downleft';
@import 'decoration-downright';
@import 'decoration-upleft';
@import 'decoration-upright';

.a-decoration {
  border: 1px dashed $color-blue;
  color: $color-blue;
  text-align: center;
  font-size: 12px;
  line-height: $space-m;

  &::before {
    content: 'decoration';
  }
}
