.m-pricingmodel {
  @extend %box-shadow;
  position: relative;
  width: 100%;
  padding: $space-m;
  margin-bottom: $space-m;
  overflow: hidden;

  &__note {
    @extend %font-xs;
    position: absolute;
    width: 100%;
    top: 2.5 * $space-s;
    right: calc(3 * #{$space-s} - 50%);
    text-align: center;
    font-weight: 500;
    transform: rotate(45deg);
    background-color: $color-green;
    color: $color-white;
  }

  &__title {
    text-align: center;
    margin-bottom: $space-m;
    color: $color-green;
  }

  &__price {
    @extend %font-l;
    text-align: center;
  }

  &__description {
    @extend %font-xs;
    text-align: center;
  }

  &__features {
    margin: $space-m 0;
  }

  .m-buttonblock,
  .m-list {
    margin-bottom: 0;
  }
}

@include media-query (tablet) {
  .m-pricingmodel {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((100% - 2 * #{$space-m}) / 3);
    margin: 0 $space-m / 2;
  }
}
