<script type="ld-conf">
{
  "name": "infographics",
  "label": "Infographics",
  "description": "Present complex information",
  "properties": ["infographics-type"],
  "iconUrl": "https://livingdocsio.github.io/livingdocs-design-assets/docs/icons/component-icons/icon_component_infographics.svg"
}
</script>

<div class="m-infographics">
  <div class="m-infographics__content" doc-container="graph"></div>
  <p class="m-infographics__caption" doc-editable="caption" doc-optional>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt magna aliquyam erat, sed diam voluptua.</p>
</div>
