<script type="ld-conf">
{
  "name": "infographics",
  "label": "Infographics",
  "description": "Present complex information",
  "properties": ["infographics-type"],
  "iconUrl": "//livingdocs-icons.s3-eu-west-1.amazonaws.com/components/icon_component_infographics.svg"
}
</script>

<div class="m-infographics">
  <div class="m-infographics__content" doc-container="graph"></div>
  <p class="m-infographics__caption" doc-editable="caption" doc-optional>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt magna aliquyam erat, sed diam voluptua.</p>
</div>
